<div class="container mh-100 my-md-4 bd-layout">
  <div class="row">
    <div class="col-12 justify-content-center">
      <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
            </button> -->
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="userInfoFormGroup">
          <form [formGroup]="userInfoFormGroup">
            <ng-template matStepLabel>User Details</ng-template>
            <!-- <ng-template matStepLabel>Login Or Sign Up</ng-template> -->
            <span class="mx-2">
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="johndoe@example.com" type="email" formControlName="email" required />
                <mat-error *ngIf="
                    userInfoControls.email.errors !== null &&
                    userInfoControls.email.errors.email
                  ">
                  Email invalid</mat-error>
                <mat-error *ngIf="
                    userInfoControls.email.errors !== null &&
                    userInfoControls.email.errors.required
                  ">
                  Please enter email id</mat-error>
              </mat-form-field>
            </span>
            <span class="mx-2">
              <mat-form-field appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="+91 8087339090" type="text" formControlName="mobile" required />
                <mat-error *ngIf="
                    userInfoControls.mobile.errors !== null &&
                    userInfoControls.mobile.errors.required
                  ">
                  Please enter mobile no</mat-error>
                <mat-error *ngIf="
                    userInfoControls.mobile.errors !== null &&
                    userInfoControls.mobile.errors.pattern
                  ">
                  Please enter a valid mobile no</mat-error>
              </mat-form-field>
            </span>
            <div>
              <button mat-button matStepperNext>Continue</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="deliveryInfoFormGroup">
          <form [formGroup]="deliveryInfoFormGroup">
            <ng-template matStepLabel>Delivery Address</ng-template>
            <span class="mx-2">
              <mat-form-field appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="John Doe" type="text" formControlName="del_fullName" required />
                <mat-error *ngIf="
                    deliveryInfoControls.del_fullName.errors !== null &&
                    deliveryInfoControls.del_fullName.errors.required
                  ">
                  Please enter your full name</mat-error>
                <mat-error *ngIf="
                    deliveryInfoControls.del_fullName.errors !== null &&
                    deliveryInfoControls.del_fullName.errors.minLength
                  ">
                  Please enter atleast 4 characters</mat-error>
              </mat-form-field>
            </span>
            <span class="mx-2">
              <mat-form-field appearance="fill">
                <mat-label>Mobile Number</mat-label>
                <input matInput placeholder="+91 8087339090" type="text" formControlName="del_mobileno" required />
                <mat-error *ngIf="
                    deliveryInfoControls.del_mobileno.errors !== null &&
                    deliveryInfoControls.del_mobileno.errors.required
                  ">
                  Please enter your mobile number</mat-error>
                <mat-error *ngIf="
                    deliveryInfoControls.del_mobileno.errors !== null &&
                    deliveryInfoControls.del_mobileno.errors.pattern
                  ">
                  Please enter a valid mobile no</mat-error>
              </mat-form-field>
            </span>
            <span class="mx-2">
              <mat-form-field appearance="fill">
                <mat-label>PIN code</mat-label>
                <input matInput placeholder="560100" type="text" formControlName="del_pincode" required />
                <mat-error *ngIf="
                    deliveryInfoControls.del_pincode.errors !== null &&
                    deliveryInfoControls.del_pincode.errors.required
                  ">
                  Please enter your pincode</mat-error>
              </mat-form-field>
            </span>
            <span class="mx-2">
              <mat-form-field appearance="fill">
                <mat-label>Flat, House No., Building</mat-label>
                <input matInput placeholder="Gold hill supreme park (West tower)" formControlName="del_flatno"
                  type="text" required />
                <mat-error
                  *ngIf="deliveryInfoControls.del_flatno.errors !== null && deliveryInfoControls.del_flatno.errors.required">
                  Please enter your Flat number</mat-error>
              </mat-form-field>
            </span>
            <span class="mx-2">
              <mat-form-field appearance="fill">
                <mat-label>Area, Colony, Street</mat-label>
                <input matInput placeholder="Electronic City Phase II" formControlName="del_area" type="text"
                  required />
                <mat-error
                  *ngIf="deliveryInfoControls.del_area.errors !== null && deliveryInfoControls.del_area.errors.required">
                  Please enter your Area details</mat-error>
              </mat-form-field>
            </span>
            <span class="mx-2">
              <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput placeholder="Bengaluru" formControlName="del_city" type="text" required />
                <mat-error
                  *ngIf="deliveryInfoControls.del_city.errors !== null && deliveryInfoControls.del_city.errors.required">
                  Please enter your city</mat-error>
              </mat-form-field>
            </span>
            <span class="mx-2">
              <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <mat-select formControlName="del_state">
                  <mat-option value="KL">Kerala</mat-option>
                  <mat-option value="KA">Karnataka</mat-option>
                  <mat-option value="AP">Andra Pradesh</mat-option>
                  <mat-option value="TS">Telengana</mat-option>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                <mat-error
                *ngIf="deliveryInfoControls.del_state.errors !== null && deliveryInfoControls.del_state.errors.required">
                Please enter your State</mat-error>
              </mat-form-field>
            </span>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Continue</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="paymentFormGroup">
          <ng-template matStepLabel>Payment Options</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button (click)="onSubmit()">Submit</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>